.charts .temp_chart {
    position: relative;
}
.charts .temp_chart.simple {
    display: flex;
    flex-direction: row !important;
    height: 1em;
    width: 100%;
}
.charts .temp_chart.simple .hour {
    border-left: #000 thin solid;
    flex-grow: 1;
    margin: 0em;
}
.charts .time_bar,
.charts .hour {
    width: auto !important;
}