<div class="temp_chart indoors bar" collection="indoor_temperature" room_id="">
    <div class="time_bar"></div>
    <div class="hour" hour="00">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="01">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="02">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="03">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="04">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="05">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="06">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="07">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="08">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="09">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="10">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="11">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="12">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="13">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="14">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="15">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="16">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="17">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="18">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="19">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="20">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="21">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="22">
        <div var="temp"></div>
    </div>
    <div class="hour" hour="23">
        <div var="temp"></div>
    </div>
</div>